<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="myconnectionstring" connectionString="data source=potoroo.cs.rmit.edu.au;;uid=s3241055_wdt;pwd=coops;initial catalog=s3241055_wdt"/>
    
    <add name="SqlRoleManagerConnection"
connectionString="data source=potoroo.cs.rmit.edu.au;&#xA;uid=s3241055_wdt;pwd=coops;&#xA;initial catalog=s3241055_wdt;"

                              />
  </connectionStrings>
    <system.web>
        
        <roleManager enabled="true" />
        <compilation debug="true" targetFramework="4.0" />
      <membership>
        <providers>
          <clear />
          <add name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider, System.Web,&#xA;Version=4.0.0.0, Culture=neutral,&#xA;PublicKeyToken=b03f5f7f11d50a3a"


          connectionStringName="SqlRoleManagerConnection"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"
          minRequiredNonalphanumericCharacters="0"
          minRequiredPasswordLength="3" />
        </providers>
      </membership>
    </system.web>

</configuration>
