<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--Dracos Connection String
    <add name="appConnectionString" connectionString="Data Source=DEE-LG-RD400\SQLEXPRESS;Initial Catalog=BookingSystemDB;Persist Security Info=True;Integrated Security=SSPI;User ID=DEE-LG-RD400\Dee;Password="/>
    <add name="Dconnectionstring" connectionString="Data Source=DEE-LG-RD400\SQLEXPRESS;Initial Catalog=BookingSystemDB;Persist Security Info=True;Integrated Security=SSPI;User ID=DEE-LG-RD400\Dee;Password="/>
    <add name="myConnectionString" connectionString="Data Source=DEE-LG-RD400\SQLEXPRESS;Initial Catalog=BookingSystemDB;Persist Security Info=True;Integrated Security=SSPI;User ID=DEE-LG-RD400\Dee;Password=" />
-->

    <!--Michael Connection Strings-->
    <add name="appConnectionString" connectionString="Data Source=WIN-BOP3PF3J8CC\SQLEXPRESSRMIT;database=BookingSystemDB;Persist Security Info=True;User ID=sa;Password=cp123"/> 
    <add name="Dconnectionstring" connectionString="Data Source=WIN-BOP3PF3J8CC\SQLEXPRESSRMIT;database=BookingSystemDB;Persist Security Info=True;User ID=sa;Password=cp123"/>
    <add name="myConnectionString" connectionString="Data Source=WIN-BOP3PF3J8CC\SQLEXPRESSRMIT;database=BookingSystemDB;Integrated Security=True;User ID=sa;Password=cp123"/>
    <add name="RMITconnectionstring" connectionString="Data Source=WIN-BOP3PF3J8CC\SQLEXPRESSRMIT;database=BookingSystemDB;Integrated Security=True;User ID=sa;Password=cp123"/>

    <!--SHRIDHAR Connection Strings
    <add name="appConnectionString" connectionString="Data Source=SHRIDHAR-PC\MSSQLRMIT;database=BookingSystemDB;uid=sa;pwd=mssqlrmit2008;Integrated Security=True"/> 
    <add name="Dconnectionstring" connectionString="Data Source=SHRIDHAR-PC\MSSQLRMIT;database=BookingSystemDB;uid=sa;pwd=mssqlrmit2008;Integrated Security=True"/>
    <add name="myConnectionString" connectionString="Data Source=SHRIDHAR-PC\MSSQLRMIT;database=BookingSystemDB;uid=sa;pwd=mssqlrmit2008;Integrated Security=True" />
    -->
  </connectionStrings>
  <system.web>
   
    <roleManager enabled="true" />
    <authentication mode="Forms" />

    <authorization>
      <deny roles="Admin" />
    </authorization>

    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
        type="System.Web.Security.SqlMembershipProvider, System.Web,&#xD;&#xA;Version=4.0.0.0, Culture=neutral,&#xD;&#xA;PublicKeyToken=b03f5f7f11d50a3a"


        connectionStringName="Dconnectionstring"
        requiresQuestionAndAnswer="false"
        requiresUniqueEmail="true"
        passwordFormat="Hashed"
        minRequiredNonalphanumericCharacters="0"
        minRequiredPasswordLength="3" />
      </providers>
    </membership>
  </system.web>

  <location path="AdminFolder/AdminLogin.aspx" >
    <system.web>
      <authorization>
        <deny roles="Staff" />
      </authorization>
    </system.web>
  </location>

  <!-- other configuration settings here -->

</configuration>
