<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="Michaelconnectionstring" connectionString="Data Source=WIN-BOP3PF3J8CC\SQLEXPRESSRMIT;Initial Catalog=Assignment2;Persist Security Info=True;User ID=sa;Password=cp123"/>
        <add name="RMITconnectionstring" connectionString="Data Source=WIN-BOP3PF3J8CC\SQLEXPRESSRMIT;Initial Catalog=Assignment2;Persist Security Info=True;User ID=sa;Password=cp123"/> 
    </connectionStrings>
    <system.web>
        <!--<roleManager enabled="true" />-->
        <authentication mode="Forms">
            <!--<forms name="AdminCookie" loginUrl="~/Login.aspx" protection="All" timeout="30" path="/" />-->
            
         
        </authentication>

        <authorization>
            <!--<allow roles="Admin"  />
            <deny users="*" />
            <allow roles="Staff"  />-->
        </authorization>

      
    
        <compilation debug="true" targetFramework="4.0" />
    </system.web>


   
    <!-- other configuration settings here -->


</configuration>
